<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Umor칧unarverkefni</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>游빍</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <script type="module" src="scripts.js"></script>
  </head>
  <body>
    <main>
      <h1>Umor칧unarverkefni</h1>

      <p>
        칈 쬰ssu verkefni er markmi칧i칧 a칧 b칰a til 칤slenska umor칧unar m치lheild (e. paraphrasing
        corpus). Engin sl칤k m치lheild hefur veri칧 b칰in til fyrir 칤slensku og 쭀칤 eru칧 쬴칧 a칧 taka
        쮂몂t 칤 brautry칧jandi verkefni. Umor칧un er me칧al annars notu칧 til a칧 greina ritstuld, hver
        skrifa칧i texta, 칤 spurningasv칬run, samantektarger칧 og fleira.
      </p>
      <p>
        칈 hverju m칬rkunarverkefni f치i칧 쬴칧 tv칝r setningar og 쬴칧 쬿rfi칧 a칧 velja einn af
        eftirfarandi m칬guleikum:
      </p>
      <ul>
        <li>
          4: Setningarnar hafa s칬mu merkingu og h칝gt v칝ri a칧 skipta annarri 칰t fyrir hina 칤 hva칧a
          samhengi sem er.
        </li>
        <li>
          3: Setningarnar hafa s칬mu merkingu en merkingin er h치칧 samhenginu. .e.a.s. ekki v칝ri
          alltaf h칝gt a칧 skipta annarri 칰t fyrir hina ef samhengi칧 b칳칧ur ekki upp 치 쬬칧.
        </li>
        <li>2: Setningarnar eru tengdar a칧 einhverju leyti en 칬nnur er ekki umor칧un 치 hinni.</li>
        <li>1: 료칧 eru engin tengsl milli setninganna.</li>
      </ul>
      <p>
        <small>
          Reglurnar byggja 치
          <a href="https://arxiv.org/pdf/2108.07499.pdf"
            >samb칝rilegri m치lheild sem ger칧 var fyrir Turku</a
          >.</small
        >
      </p>
      <% if (!error) { %>
      <section>
        <h2>Flokkun</h2>
        <form method="post" action="/classify">
          <p class="text first">
            <%= sentence_one %>
          </p>
          <p class="text second">
            <%= sentence_two %>
          </p>
          <p class="status"><span class="count">Flokka칧u</span> <span class="emoji">游녢游녢游녢</span></p>
          <input type="hidden" name="id" value="<%= id %>" />
          <button name="value" value="4">4: Sama merking 칤 hva칧a samhengi sem er</button>
          <button name="value" value="3">3: Sama merking en h치칧 samhenginu</button>
          <button name="value" value="2">
            2: Einhver tenging, ekki umor칧un
          </button>
          <button name="value" value="1">1: Engin tengsl</button>
        </form>
      </section>
      <% } else { %>
        <section>
          <p>Villa 칤 forriti 游땴</p>
        </section>
      <% } %>
    </main>
  </body>
</html>
